<!-- Footer Section -->
<footer class="footer">
  <div class="footer__container">
    <div class="footer__logo">
      <div class="navbar__logo--img"></div>
      <div class="navbar__logo--text footer__logo--text">Search News</div>
      <div class="navbar__logo--text footer__logo--text">Github</div>
    </div>
  </div>
</footer>
