<!-- Footer Section -->
<footer class="footer">
  <hr />
  <div class="footer__container">
    <a class="footer__logo" href="/">
      <div class="navbar__img navbar__logo--img"></div>
      <div class="navbar__logo--text footer__text">Search News</div>
    </a>

    <div class="footer__links">
      <div>
        <a href="/credits">Credit</a>
      </div>
      <div>
        <a href="https://github.com/tk-425/news-search-web-site" target="_blank">Source Code</a>
      </div>
    </div>
  </div>
</footer>
