<!-- Navbar -->
    <header class="header">
      <div class="navbar">
        <!-- Logo -->
        <a href="/" class="navbar__logo">
          <div class="navbar__img navbar__logo--img"></div>
          <div class="navbar__logo--text">Search News</div>
        </a>

        <!-- Menu -->
        <ul class="navbar__menu">
          <li class="navbar__item">
            <a href="/#search" class="navbar__link" id="navbar__search">Search</a>
          </li>

          <li class="navbar__item navbar__divider">|</li>

          <li class="navbar__item">
            <a href="/#latest--news" class="navbar__link" id="navbar__latest">Latest News</a>
          </li>

          <li class="navbar__item navbar__divider">|</li>

          <li class="navbar__item">
            <a href="/credits" class="navbar__link">Credits</a>
          </li>

          <li class="navbar__item navbar__divider">|</li>

          <li class="navbar__item">
            <a href="https://github.com/tk-425/news-search-web-site" class="navbar__link" target="_blank">
              <div class="navbar__img github__logo--img"></div>
            </a>
          </li>
        </ul>

        <!-- Hamburger -->
        <div class="navbar__hamburger">
          <span class="navbar__bar"></span>
          <span class="navbar__bar"></span>
          <span class="navbar__bar"></span>
        </div>
      </div>
    </header>
