<!-- Navbar -->
<section class="navbar align__center">
  <div class="navbar__container">
    <a href="/" class="navbar__logo align__center">
      <div class="navbar__logo--img hover__ease"></div>
      <div class="navbar__logo--text align__center">Search News</div>
    </a>

    <!-- Hamburger Menu -->
    <div class="navbar__toggle" id="mobile-menu">
      <!-- When .navbar__toggle activates, 
            hamburger menu icon appears -->
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>

    <!-- Menu Links -->
    <ul class="navbar__menu">
      <li class="navbar__item">
        <a href="/#search" class="navbar__links align__center hover__ease" id="home-page"> Search </a>
      </li>

      <div class="navbar__divider">|</div>

      <li class="navbar__item">
        <a href="/#latest--news" class="navbar__links align__center hover__ease" id="latest-page">
          Latest News
        </a>
      </li>

      <div class="navbar__divider">|</div>

      <li class="navbar__item">
        <a href="/credits" class="navbar__links align__center hover__ease" id="credits-page"> Credits </a>
      </li>

      <div class="navbar__divider">|</div>

      <li class="navbar__item">
        <a href="https://github.com/tk-425/news-search-web-site" class="navbar__links align__center" target="_blank">
          <div class="navbar__logo--img github__logo--img hover__ease"></div>
          <!-- <div class="github__logo--text">Github</div> -->
          <!-- Github -->
        </a>
      </li>
    </ul>
  </div>
</section>
